    <div class="app">
        This is practicing {{ title }}! 
        <fieldset>
            <legend>
                Part one
            </legend>
            {{ numberOne + numberTwo }}
            <br>
            {{ isHappy ? ':)' : ':(' }}
        </fieldset>
        <fieldset>
            <legend>
                Part two
            </legend>
            <input 
                type="text" 
                [value]="name"
                (blur)="handleBlur($event)"
                (focus)="handleFocus($event)">
            <br>
            {{ name }}
        </fieldset>
    </div>